<div class="jumbotron">
	
	<% if user_signed_in? %>
		<%= render 'templates/create_group_form.html', :article => @article %>
	<% end %>
	
	<h2><%= @article[:title] %></h2>

	<img src="<%= @article[:image_url] %>" alt="<%= @article[:title] %>">

	<%= render 'templates/guardian_paragraphs.html', :article => @article %>
	
</div>