<div id="create-group" class="jumbotron">

	<h2><%= @article[:title] %></h2>
	<h3><%= @article[:description] %></h3>
	
	<img src="<%= @article[:image_url] %>" alt="<%= @article[:title] %>">

	<form action="/groups/new" method="post">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
		<input type="hidden" name="admin_id" value="<%= current_user.id %>">
		<input type="hidden" name="article_url" value="<%= @article[:article_url] %>">
		<input type="hidden" name="image_url" value="<%= @article[:image_url] %>">
		<input type="hidden" name="source" value="<%= @article[:source] %>">

		<input type="text" name="name" placeholder="Group name">
		<textarea class="shadow" type="text" name="description" placeholder="Give your group a description"></textarea>

		<button id="submit" type="submit">Create Group</button>
	</form>

</div>