<div class="jumbotron">

<h1><%= @article[:title] %></h1>
<h5><%= @article[:description] %></h5>

<img src="<%= @article[:image_url] %>" alt="<%= @article[:title] %>">

<form action="/groups/new" method="post">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
	<input type="hidden" name="article_url" value="<%= @article[:article_url] %>">
	<input type="hidden" name="image_url" value="<%= @article[:image_url] %>">
	<input type="hidden" name="source" value="<%= @article[:source] %>">

	<input type="text" name="name" placeholder="Give the group a name">
	<input type="text" name="description" placeholder="Describe the group">

	<button id="submit" type="submit">Create Group</button>
</form>

</div>