<!DOCTYPE html>
<html>
<head>
  <title>Newstand</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="page">

		<%= render 'templates/top_header.html' %>
		<%= render 'templates/bottom_header.html' %>

		<div class="container col-lg-8 col-md-offset-2">
			<%= yield %>
		</div>

	</div><!-- page -->
</body>
</html>
